body{
	width: 1070px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Verdana;
	font-size:12px;
}

canvas{
	outline: 5px solid #000;
}

div{
	margin:5px;
}

#wrapper #canvas1{
	display:none;
}

#container2{
	width:515px;
	float:left;
	margin-bottom:20px;
}

#container3{
	width:515px;
	float:right;
	margin-bottom:20px;
}

input[type=text]{
	width:15px;
}

img[alt="Lenna"]{
	position:absolute;
	top: 20px;
	left: 20px;
	width:200px;
	height:200px;
	outline: 5px solid #000;
}

fieldset{
		background: -moz-linear-gradient(top, #eee, #fff);
		margin:10px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		box-shadow:2px 2px 2px #eee;
}